.turbo

# Dependencias
node_modules/
*-lock.json

# Cloudflare / Wrangler
.wrangler/
.dev.vars
dist/
.worker/

# Variables de entorno (Secretos)
.env
.env.local
.env.*.local

# IDEs y logs
.vscode/
.idea/
*.log
.DS_Store

# TanStack Router (Archivos autogenerados)
src/routeTree.gen.ts